footer{
    height: 100px;
    background-color: #79ADDC;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo{
        font-family: gill-sans;
        color: white;
        font-size: 20px;
    }
    .copyRight{
        font-family: gill-sans;
        color: white;
        font-size: 12px;
    }
    .socialMedia{
    display: flex;
        img{
            padding: 20px;
        }
    }
}